.form {
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 6px solid rgb(90, 215, 173);
    border-radius: 8px;
}

.btnForm {
    border: none;
    height: 44px;
    border-radius: 0%;
    background-color: rgb(216, 233, 247);
    color: rgb(54, 150, 118);;
}

.inputForm {
    border: none;
    height: 42px;
    background-color: rgb(216, 233, 247);
    font-size: medium;
}

.btnForm:focus {
    outline: transparent;
}

.inputForm:focus {
    outline: transparent;
}