#root {
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color:rgba(127, 255, 212, 0.841);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
   {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }